/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --body-background-color:#000028;
  --common-text-color:#F1B2CE;
  --big-text-color:#DB00FF;
  --accent-color:#FF0070;
  --accent-text-color:#FF0070;
  --background-accent-color:#FF0070;
  --background-accent-text-color:#000028;
}
